
:root
{
  --darkPurple:#0B005D;
  --purple:#6D669F;
  --lightPurple:#E8EFFF;
  --darkGrey:#404040;
  --grey:#8E8E8E;
  --lightGrey:#ADADAD;
  --offWhite:#F4FDFE;
  --cardColor:#FBFDFF;

}
* {
  /* height: fit-content; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "Roboto", sans-serif;
}
