.container
{
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: var(--darkPurple);
    padding: 30px;
    font-size: 13px;
    
}
.navbarBrand img
{
    width: 25vw;
    border-radius: 10px;
    width: 100px;
    height: 50px;
}
.navbarNav
{
    width: 60vw;
}

.navItem
{
    list-style: none;
}
.navLink
{
     text-decoration: none;
}
.line
{
    width: 80%;
    height: 1px;
    background-color: #fff;
}