.container
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 12px;
    
}
.navbarBrand img
{
    width: 25vw;
    border-radius: 10px;
    width: 150px;
    height: 70px;
}
.navbarNav
{
    width: 60vw;
}

.navItem
{
    list-style: none;
}
.navLink
{
     text-decoration: none;
     color: black;
}
