.container
{
    background: linear-gradient(
        90deg,
        #EBEFFE 0%,
        #F4FDFE 50%,
        #F0FBFE 100%
    );
}
.navbar
{
    background-color: var(--darkPurple);

}
.service
{  
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 100%;
    margin-bottom: 2rem;
    height: 100%;
}
.serviceImage
{
    width: 40%;
    height: 100%;
}
.serviceImage img
{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin-inline: 100px;
}
  
.serviceContent
{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
    .serviceTitle
    {
        color: #726D94;
        font-size: 25px;
        font-weight: 600;
    }
    .serviceDescription
    {
        /* color: var(--lightGrey); */
        font-size: 15px;
        line-height: 1.5;
    }
.heading
{
    color: var(--darkGrey);
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding: 30px;
}


.service:nth-child(odd) .serviceContent {
  order: 1;
}
.service:nth-child(odd) .serviceImage {
  order: 2;
}

.service:nth-child(even) .serviceContent {
  order: 2;
}
.service:nth-child(even) .serviceImage {
  order: 1;
}